.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /*main axis*/
    align-items: center; /*cross axis*/
}

section {
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    flex: initial; /*flex: 0 1 auto*/
    position: relative;
    animation: breathe 10s ease-in-out 0s 6;
    animation-fill-mode: forwards;
}

section figure {
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    position: absolute;
}

/*Light/dark blue circles within section*/
.one {
    top: 0;
    left: 9vw;
    background: #1BCBF2;
}

.two {
    top: 3vw;
    left: 16vw;
    background: #055BA6;
}

.three {
    top: 9vw;
    left: 18vw;
    background: #1BCBF2;
}

.four {
    top: 15vw;
    left: 16vw;
    background: #055BA6;
}

.five {
    top: 18vw;
    left: 9vw;
    background: #1BCBF2;
}

.six {
    top: 15vw;
    left: 2vw;
    background: #055BA6;
}

.seven {
    top: 9vw;
    left: 0;
    background: #1BCBF2;
}

.eight {
    top: 3vw;
    left: 2vw;
    background: #055BA6;
}