.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
}

header {
    width: 90%;
    margin: 1em 5%;
    padding: 0;
}

section {
    width: 90%;
    margin: 1em 5%;
    padding:  0;
}

/*Clearfix for section*/
section::after {
    clear: both;
    content: "";
    display: table;
}

figure {
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 .25em .25em .15em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row wrap; /*shorthand for flex-direction, and flex-wrap*/
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
}

figcaption {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    flex: auto; /*shorthand for flex-grow, flex-shrink, and flex-basis*/
    /*using auto is same as using flex: 1 1 auto*/
}

@media all and (min-width: 300px) {

    figure {
        width: 2.8em;
        height: 2.8em;
        margin: .5em 1em .5em 0;
    }

    figure:last-child {
        margin: .5em 0 .5em 0;
    }

    figcaption {
        font-size: 0.625em;
    }
}

@media all and (min-width: 400px) {

    figure {
        width: 3em;
        height: 3em;
        /*margin inherited*/
    }
    /*figure:last-child - inherited*/
    /*figcaption - inherited*/
}

@media all and (min-width: 500px) {

    figure {
        width: 4em;
        height: 4em;
        /*margin inherited*/
    }

    /*figure:last-child - inherited*/

    figcaption {
        font-size: 0.75em;
    }
}

@media all and (min-width: 600px) {

    figure {
        width: 5em;
        height: 5em;
        margin: .75em 1.5em .75em 0;
    }

    figure:last-child {
        margin: .75em 0 .75em 0;
    }
    /*figcaption - inherited*/
}

@media all and (min-width: 800px) {

    figure {
        width: 6em;
        height: 6em;
        margin: 1em 2em 1em 0;
    }

    figure:last-child {
        margin: 1em 0 1em 0;
    }

    figcaption {
        font-size: 0.875em;
    }
}

/*Circles*/
.blue {
    background: #0077c2; /*blue 400 dark*/
}

.lime {
    background: #a0af22; /*lime 400 dark*/
}

/*Fonts*/
h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.4;
    font-weight: 600;
}

@media all and (min-width: 300px) {

    h1 {
        font-size: .875em;
    }
}

@media all and (min-width: 400px) {

    h1 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 500px) {

    h1 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 800px) {

    h1 {
        font-size: 1.6em;
    }
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

/*Animations*/
.skills-rollin {
    -webkit-animation: rollIn 8s ease;
    -moz-animation: rollIn 8s ease;
    animation: rollIn 8s ease;
}

/*Media queries for transforms*/
/*The only change per query is the number of ems in translate*/
/*AKA - the distance circles roll to the left*/
@media all and (min-width: 300px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(2em, 0) rotate(0);
        }
        20% {
            transform: translate(2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(2em, 0) rotate(0);
        }
        20% {
            transform: translate(2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(2em, 0) rotate(0);
        }
        20% {
            transform: translate(2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 400px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(2.4em, 0) rotate(0);
        }
        20% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(2.4em, 0) rotate(0);
        }
        20% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(2.4em, 0) rotate(0);
        }
        20% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(2.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 500px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(3.2em, 0) rotate(0);
        }
        20% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(3.2em, 0) rotate(0);
        }
        20% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(3.2em, 0) rotate(0);
        }
        20% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(3.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 600px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(1.8em, 0) rotate(0);
        }
        20% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(1.8em, 0) rotate(0);
        }
        20% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(1.8em, 0) rotate(0);
        }
        20% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(1.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 700px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(7.2em, 0) rotate(0);
        }
        20% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(7.2em, 0) rotate(0);
        }
        20% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(7.2em, 0) rotate(0);
        }
        20% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        30% {
            transform: translate(7.2em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 800px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(5.8em, 0) rotate(0);
        }
        20% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(5.8em, 0) rotate(0);
        }
        20% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(5.8em, 0) rotate(0);
        }
        20% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        30% {
            transform: translate(5.8em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 900px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(11.6em, 0) rotate(0);
        }
        20% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        30% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(11.6em, 0) rotate(0);
        }
        20% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        30% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(11.6em, 0) rotate(0);
        }
        20% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        30% {
            transform: translate(11.6em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/

@media all and (min-width: 1000px) {

    @-webkit-keyframes rollIn {
        0% {
            transform: translate(17.4em, 0) rotate(0);
        }
        20% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @-moz-keyframes rollIn {
        0% {
            transform: translate(17.4em, 0) rotate(0);
        }
        20% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        }
    }

    @keyframes rollIn {
        0% {
            transform: translate(17.4em, 0) rotate(0);
        }
        20% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        30% {
            transform: translate(17.4em, 0) rotate(360deg);
        }
        100% {
            transform: translate(0, 0) rotate(-360deg);
        } 
    }
} /*media query close*/